/* * {
  border: 1px solid black;
} */

.project-description {
  background-color: #424242;
  padding: 1%;
  margin-top: 15%;
  width: 40%;
  font-size: x-large;
  text-align: center;
  margin-left: 29%;
  color: #ffffff;
}

.projects {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ubuntu {
  margin-bottom: 10%;
}
