/* * {
  border: 1px solid black;
} */

.project-description {
  margin-top: 10%;
  width: 40%;
  font-size: x-large;
  text-align: center;
  margin-left: 30%;
  color: #ffffff;
}

.projects {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.github {
  flex: row;
  display: inline-block;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.site {
  flex: row;
  display: inline-block;
  font-size: xx-large;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
