body {
  background-color: #335c81;
}

nav {
  background-color: #244766;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  flex: row;
  display: inline-block;
  font-size: xx-large;
  margin: 0 9%;
}

nav a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #ffcc66;
  color: #244766;
  cursor: pointer;
}

#introduction {
  background-color: #424242;
  width: 80%;
  margin: 8% auto;

  border-radius: 5px;
}

#intro-pic {
  margin-top: 15%;
  flex: row;
  margin-left: 5%;
  height: 300px;
  width: 300px;
}

#bio {
  color: #ffffff;
  font-size: x-large;
  float: right;
  display: block;
  max-width: 60%;
  margin-top: 8%;
  margin-right: 7%;
}

.contact {
  color: #ffffff;
  padding: 3%;
  flex: row;
  display: inline-block;
  font-size: x-large;
}

.contact a {
  color: #ffffff;
  text-decoration: none;
}

.contact a:hover {
  color: #ffcc66;
}

h1 {
  margin: 0 auto;
}
